<!-- 
Sintaxe para acresentar esse pedaço de código em alguma pagina desejada:
   header (Parte central) 
        <div th:include="fragments/header :: header"></div>
-->
<div th:fragment ="header">
    <!-- Favicon -->
    <link href="/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

    
</div>